.todolist {
  text-align: center;
  padding: 50px;
}

input {
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid black;
}

#root > div.todolist > div > button {
  margin-left: 10px;
}

.button1 {
  display: flex;
  justify-content: center;
}
